@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Gestión de Asistencia Sena</h1>
    <p>Hola, acá podrá gestionar las excusas, y validar asistencias.</p>
</div>
